.cv-block.contact
    .cv-block__header.contact__header Contact
    ul.cv-block__list.contact__list
        li.cv-block__item.contact__item
            .cv-block__item_main.contact__item_main Address
            .cv-block__item_secondary 14 F.Lytkina str, Tomsk
        li.cv-block__item.contact__item
            .cv-block__item_main.contact__item_main E-mail
            .cv-block__item_secondary serafim0604@gmail.com
        li.cv-block__item.contact__item
            .cv-block__item_main.contact__item_main Phone
            .cv-block__item_secondary 8-999-495-63-82
        li.cv-block__item.contact__item
            .cv-block__item_main.contact__item_main Website
            .cv-block__item_secondary
                a.contact__link(href="https://vk.com/spisenko" target="_blank") https://vk.com/spisenko