.cv-block.profile
    .cv-block__header.profile__header Profile
    p.cv-block__text My name is Serafim, I'm 21 years old.
        |I was born in small city builded near the Angara river.
        |Now I'm fourth-year student of Radiophisics Faculty of TSU.
        |At the same time, I study on Faculty of Foreign Languages
        |and Military Department, it is the second and final year on both of them.
        |My hobbies is a listening of music, sport and self-education.
        |Music, I really love it. Seriously, I can do everything with music,
        |it helps me to relax before sleep and concentrate during training or programming.
        |Sport it also inalienable part of my live, it's like a habit.
        b Now, I'am just a beginer in IT, which met with programming half year ago,
            |but in one day I want to became cool fronend developer and then fullstack developer,
            |because when write a code and see the result of my work, I feel that I do
            |something matterd.