include ../mixins/mixins

.cv-block.skills
    .cv-block__header.skills__header Skills
    ul.cv-block__list.skills__list
        li.cv-block__item.skills__item
            .cv-block__item_main.skills__item_main Creative
            .cv-block__item_secondary.skills__item_secondary
                +skillbar(9)
        li.cv-block__item.skills__item
            .cv-block__item_main.skills__item_main Teamwork
            .cv-block__item_secondary.skills__item_secondary
                +skillbar(11)
        li.cv-block__item.skills__item
            .cv-block__item_main.skills__item_main Innovate
            .cv-block__item_secondary.skills__item_secondary
                +skillbar(6)
        li.cv-block__item.skills__item
            .cv-block__item_main.skills__item_main Communication
            .cv-block__item_secondary.skills__item_secondary
                +skillbar(11)
