.cv-block.software
    .cv-block__header.software__header Software
    ul.cv-block__list.software__list
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main Photoshop
            .cv-block__item_secondary.software__item_secondary
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main Dreamweawer
            .cv-block__item_secondary.software__item_secondary
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main Illustrator
            .cv-block__item_secondary.software__item_secondary
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main Aftereffects
            .cv-block__item_secondary.software__item_secondary
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main Indesign
            .cv-block__item_secondary.software__item_secondary
        li.cv-block__item.software__item
            .cv-block__item_main.software__item_main HTML&ampCSS3
            .cv-block__item_secondary.software__item_secondary