.cv-head
    .cv-head__photo-holder
        img(src="/assets/img/programmer-photo.jpg" alt="Picture of programmer").cv-head__image
    .cv-head__name Serafim
    .cv-head__surname Pisenko
    .cv-head__position further fullstack developer