.cv-block.experience.edc-exp
    .cv-block__header.experience__header Experience
    ul.cv-block__list.edc-exp__list
        li.cv-block__item.experience__item.edc-exp__item
            .cv-block__item_main.experience__item_main.edc-exp__item_main Company Name
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Feb 2011 - Jun 2014
            .cv-block__subtitle Your job
            p.cv-block__text
                |Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Repellendus et rerum exercitationem reiciendis aspernatur
                | quis maxime hic, amet accusamus ducimus assumenda laborum,
                | est ullam quaerat error eaque dolorum odit blanditiis.
        li.cv-block__item.experience__item.edc-exp__item
            .cv-block__item_main.experience__item_main.edc-exp__item_main Company Name
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Feb 2011 - Jun 2014
            .cv-block__subtitle Your job
            p.cv-block__text
                |Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Repellendus et rerum exercitationem reiciendis aspernatur
                | quis maxime hic, amet accusamus ducimus assumenda laborum,
                | est ullam quaerat error eaque dolorum odit blanditiis.
        li.cv-block__item.experience__item.edc-exp__item
            .cv-block__item_main.experience__item_main.edc-exp__item_main Company Name
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Feb 2011 - Jun 2014
            .cv-block__subtitle Your job
            p.cv-block__text
                |Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Repellendus et rerum exercitationem reiciendis aspernatur
                | quis maxime hic, amet accusamus ducimus assumenda laborum,
                | est ullam quaerat error eaque dolorum odit blanditiis.