<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container
            .col-4
                include ./PugFiles/cv-head/cv-head
                include ./PugFiles/profile/profile
                include ./PugFiles/contact/contact
                include ./PugFiles/skills/skills
            .col-7
                include ./PugFiles/education/education
                include ./PugFiles/experience/experience
                include ./PugFiles/software/software