.cv-block.education.edc-exp
    .cv-block__header.education__header Education
    ul.cv-block__list.edc-exp__list
        li.cv-block__item.edc-exp__item
            .cv-block__item_main.edc-exp__item_main Bachelor degree
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Sept 2015 - Jun 2019
            .cv-block__subtitle TSU Radiophysics Faculty
            p.cv-block__text I study at the TSU Radiophysics Faculty on department of Informational Technologies
                |at Exploration of Discrete Structures. Cool and a bit strange title
                |but there is nothing interesting.
        li.cv-block__item.edc-exp__item
            .cv-block__item_main.edc-exp__item_main Bachelor degree
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Sept 2017 - Jun 2019
            .cv-block__subtitle TSU Faculty of Foreign Languages
            p.cv-block__text It's my additional education, it's literally addition to my main education,
                |only after finishing education on main faculty i'll get my translator diploma.
                |In compare with my main speciality it's more interesting and useful.
                |With this knowledge i'am writing this text without google(it's lie)
                |and without mistakes(i hope there isn't it).
        li.cv-block__item.edc-exp__item
            .cv-block__item_main.edc-exp__item_main Military education
            .cv-block__item_secondary.edc-exp__item_secondary
                | // Sept 2017 - Jun 2019
            .cv-block__subtitle TSU Educational Military Centre
            p.cv-block__text It's a most boring part of my education. I study there because
                |i don't want to waste time in army, not for this i study programming.